*{

padding: 0;

box-sizing: border-box;

font-family: sans-serif;

}

.container{
display: flex;
align-items: center;
justify-content: center;
}

body{

min-height: 100vh;

}

main{

padding: 20px 20px;

}

#profile{

padding: 10px 20px;

}

nav {

background-color: whitesmoke;

display: grid;

gap: 1rem;



font: 140% system-ui;

text-align: center ;

width: 100%;

padding: 2rem 1rem;


  /* Pay special attention here! */
position: sticky;
top: 0px;
}

nav a {
  
  text-decoration: none;

  display: inline-block;

  padding: 10px 10 px;


}

nav a:hover,
nav a.active {
font-weight: bold; 
}


@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#profile {
height : 250px;
border-radius: 50%;
}

.text{

	float: left;

}

nav a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


#banner {
width: 100% ;
}

a:visited { 
 text-decoration: none; 
 color: black; 
}

.imgContainer {
  float:left;
}

.caption{

	text-align:center;
}

#contact{

	padding: 50px ;
	text-align: center;
}

.titre{

font-size: 130% ;

}

#publis{

font-size: 120%;

font-weight: bold;

}

#talks{

font-size: 120%;

font-weight: bold;

}
