nav {
text-align : right; /* tout doit etre a droite */
}
nav ul { /* liste dans la navigation */
margin : 1%
3% 0 0;
padding : 0; /* enleve l'indentation de defaut */
float : right; /* colonne a droite par rapport au logo */
}
nav ul li {
display : inline-block; /* les elements de la liste sont presentes en ligne
mais se comportent comme un block */
}
nav li a {
display : block; /* les liens se comportent comme des block individuels,
cela evite le chevauchement en cas de petite largeur d'ecran */
padding : 1em;
margin : 1em 1.1em;
text-decoration : none; /* enleve le soulignement habituel des liens */
letter-spacing : 1.3px; /* pour plus de lisibilite */
font-size : 0.9em;
color : #F5F5F5;
background-color : #003366;
}
nav li a:hover { /* style des boutons de liens qu'on survole */
background-color : #0066CC;
color : #F5F5F5;
font-weight : normal; /* car on a regle le cas general sur bold */
}
#active { /* element ayant l'id "active" */
background-color : #0066CC;
color : #F5F5F5;
}

#banner { /* une banniere pour la decoration */
background : #003366 url(banner.png) repeat center; /* couleur image
repetition */
height : cover; /* hauteur de la banniere */
width: 1500px;
background-size : cover; /* prend la largeur de page */
clear : both;
}